<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <link href="<%= url 'style.css' %>" media="screen" rel="stylesheet" type="text/css">
  <title>Game Thumb Optimization</title>

</head>
<body>
<div class="header">
  <h1>Dashboard</h1>
</div>

<div id="main">

  <%= yield %>

</div>


</body>
</html>